DB_HOST=34.87.167.100
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin@DEV1
DB_DATABASE=music_scrapper

SERVER_ADDRESS=0.0.0.0
SERVER_PORT=9999

BLIP_MODEL=/media/hbpopos/penisf/web_downloads/blip_ic_large/model.safetensors
BLIP_TOKENIZER=/media/hbpopos/penisf/web_downloads/blip_ic_large/tokenizer.json
